In [1]:
import pandas as pd
import glob
import json

In [2]:
import pandas as pd

# Set the maximum number of rows to display
pd.set_option('display.max_rows', 100)  # Change 100 to your desired number

# Set the maximum number of columns to display
pd.set_option('display.max_columns', 50)  # Change 50 to your desired number

In [3]:


def read_jsons_to_dataframe(path):
    dfs = []  # List to hold DataFrames
    
    # Use glob to find all JSON files in the specified path, including subdirectories
    json_files = glob.glob(path)
    
    for file in json_files:
        with open(file, 'r') as f:
            # Load the JSON data
            data = json.load(f)
            
            # If the data is a dictionary, wrap it in a list to ensure consistency
            if isinstance(data, dict):
                data = [data]
            
            # Create a DataFrame, potentially flattening the JSON structure
            df = pd.json_normalize(data)
            
            # Append the DataFrame to the list
            dfs.append(df)
    
    # Concatenate all DataFrames, if any
    if dfs:
        final_df = pd.concat(dfs, ignore_index=True)
    else:
        final_df = pd.DataFrame()
    
    return final_df

In [4]:
# Usage example with your specified path
path = '/Users/pratikkpoojari/Desktop/JSON/movies/*/*.json'
dataframe = read_jsons_to_dataframe(path)
print(dataframe.head())  # Display the first few rows of the resulting DataFrame

                             name  year  runtime  \
0                            Rush  2013    123.0
1  Percy Jackson: Sea of Monsters  2013    106.0
2                      Iron Man 3  2013    130.0
3            Thor: The Dark World  2013    112.0
4                Fast & Furious 6  2013    130.0

                             categories release-date          director  \
0                        [drama, sport]   2013-09-27        Ron Howard
1          [adventure, family, fantasy]   2013-08-07  Thor Freudenthal
2           [adventure, action, sci-fi]   2013-05-03       Shane Black
3  [adventure, action, fantasy, sci-fi]   2013-11-08       Alan Taylor
4             [action, crime, thriller]   2013-05-24        Justin Lin

                                              writer  \
0                                     [Peter Morgan]
1                    [Marc Guggenheim, Rick Riordan]
2  [Drew Pearce, Shane Black, Stan Lee, Don Heck,...
3  [Christopher Yost, Christopher Markus, Stephen...
4                                     [Chris Morgan]

                                              actors  \
0  [Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...
1  [Logan Lerman, Alexandra Daddario, Brandon T. ...
2    [Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]
3  [Chris Hemsworth, Tom Hiddleston, Natalie Port...
4  [Vin Diesel, Paul Walker, Dwayne Johnson, Mich...

                                           storyline description future
0  James Hunt and Niki Lauda, two extremely skill...         NaN    NaN
1  In this retelling of Rick Riordans book, The S...         NaN    NaN
2  After saving New York from an alien invasion, ...         NaN    NaN
3  There are nine realms of Asgard and once every...         NaN    NaN
4  Agent Hobbs cuts a deal with Dominic to clear ...         NaN    NaN

In [5]:
dataframe

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
0,Rush,2013,123.0,"[drama, sport]",2013-09-27,Ron Howard,[Peter Morgan],"[Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...","James Hunt and Niki Lauda, two extremely skill...",NaN,NaN
1,Percy Jackson: Sea of Monsters,2013,106.0,"[adventure, family, fantasy]",2013-08-07,Thor Freudenthal,"[Marc Guggenheim, Rick Riordan]","[Logan Lerman, Alexandra Daddario, Brandon T. ...","In this retelling of Rick Riordans book, The S...",NaN,NaN
2,Iron Man 3,2013,130.0,"[adventure, action, sci-fi]",2013-05-03,Shane Black,"[Drew Pearce, Shane Black, Stan Lee, Don Heck,...","[Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]","After saving New York from an alien invasion, ...",NaN,NaN
3,Thor: The Dark World,2013,112.0,"[adventure, action, fantasy, sci-fi]",2013-11-08,Alan Taylor,"[Christopher Yost, Christopher Markus, Stephen...","[Chris Hemsworth, Tom Hiddleston, Natalie Port...",There are nine realms of Asgard and once every...,NaN,NaN
4,Fast & Furious 6,2013,130.0,"[action, crime, thriller]",2013-05-24,Justin Lin,[Chris Morgan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...",Agent Hobbs cuts a deal with Dominic to clear ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,The Notebook,2004,124.0,"[drama, romance]",2004-06-25,Nick Cassavetes,"[Jeremy Leven, Jan Sardi, Nicholas Sparks]","[Gena Rowlands, James Garner, Rachel McAdams]",A poor yet passionate young man falls in love ...,NaN,NaN
338,Secret Window,2004,96.0,"[drama, thriller, mystery]",2004-03-12,David Koepp,"[Stephen King, David Koepp]","[Johnny Depp, John Turturro, Maria Bello, Timo...",Mort Rainey is a author struggling from writer...,NaN,NaN
339,Harry Potter and the Prisoner of Azkaban,2004,142.0,"[adventure, family, fantasy]",2004-06-04,Alfonso Cuarón,"[Steve Kloves, J.K. Rowling]","[Daniel Radcliffe, Emma Watson, Rupert Grint]","In Harry Potter and the Prisoner of Azkaban, H...",NaN,NaN
340,Spiderman 2,2004,127.0,"[action, adventure]",2004-05-30,Sam Raimi,[Alvin Sargent],"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Peter Parker ahs to fight a mad scientist name...,NaN,NaN
341,50 First Dates,2004,99.0,"[comedy, drama, romance]",2004-02-13,Peter Segal,[George Wing],"[Adam Sandler, Drew Barrymore, Rob Schneider, ...",Henry Roth is a man afraid of commitment up un...,NaN,NaN

In [6]:
dataframe

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
0,Rush,2013,123.0,"[drama, sport]",2013-09-27,Ron Howard,[Peter Morgan],"[Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...","James Hunt and Niki Lauda, two extremely skill...",NaN,NaN
1,Percy Jackson: Sea of Monsters,2013,106.0,"[adventure, family, fantasy]",2013-08-07,Thor Freudenthal,"[Marc Guggenheim, Rick Riordan]","[Logan Lerman, Alexandra Daddario, Brandon T. ...","In this retelling of Rick Riordans book, The S...",NaN,NaN
2,Iron Man 3,2013,130.0,"[adventure, action, sci-fi]",2013-05-03,Shane Black,"[Drew Pearce, Shane Black, Stan Lee, Don Heck,...","[Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]","After saving New York from an alien invasion, ...",NaN,NaN
3,Thor: The Dark World,2013,112.0,"[adventure, action, fantasy, sci-fi]",2013-11-08,Alan Taylor,"[Christopher Yost, Christopher Markus, Stephen...","[Chris Hemsworth, Tom Hiddleston, Natalie Port...",There are nine realms of Asgard and once every...,NaN,NaN
4,Fast & Furious 6,2013,130.0,"[action, crime, thriller]",2013-05-24,Justin Lin,[Chris Morgan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...",Agent Hobbs cuts a deal with Dominic to clear ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,The Notebook,2004,124.0,"[drama, romance]",2004-06-25,Nick Cassavetes,"[Jeremy Leven, Jan Sardi, Nicholas Sparks]","[Gena Rowlands, James Garner, Rachel McAdams]",A poor yet passionate young man falls in love ...,NaN,NaN
338,Secret Window,2004,96.0,"[drama, thriller, mystery]",2004-03-12,David Koepp,"[Stephen King, David Koepp]","[Johnny Depp, John Turturro, Maria Bello, Timo...",Mort Rainey is a author struggling from writer...,NaN,NaN
339,Harry Potter and the Prisoner of Azkaban,2004,142.0,"[adventure, family, fantasy]",2004-06-04,Alfonso Cuarón,"[Steve Kloves, J.K. Rowling]","[Daniel Radcliffe, Emma Watson, Rupert Grint]","In Harry Potter and the Prisoner of Azkaban, H...",NaN,NaN
340,Spiderman 2,2004,127.0,"[action, adventure]",2004-05-30,Sam Raimi,[Alvin Sargent],"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Peter Parker ahs to fight a mad scientist name...,NaN,NaN
341,50 First Dates,2004,99.0,"[comedy, drama, romance]",2004-02-13,Peter Segal,[George Wing],"[Adam Sandler, Drew Barrymore, Rob Schneider, ...",Henry Roth is a man afraid of commitment up un...,NaN,NaN

In [7]:
import pandas as pd

# Temporary settings to display the full DataFrame
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    # Replace 'your_dataframe' with the actual name of your DataFrame
    dataframe

In [8]:
dataframe

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
0,Rush,2013,123.0,"[drama, sport]",2013-09-27,Ron Howard,[Peter Morgan],"[Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...","James Hunt and Niki Lauda, two extremely skill...",NaN,NaN
1,Percy Jackson: Sea of Monsters,2013,106.0,"[adventure, family, fantasy]",2013-08-07,Thor Freudenthal,"[Marc Guggenheim, Rick Riordan]","[Logan Lerman, Alexandra Daddario, Brandon T. ...","In this retelling of Rick Riordans book, The S...",NaN,NaN
2,Iron Man 3,2013,130.0,"[adventure, action, sci-fi]",2013-05-03,Shane Black,"[Drew Pearce, Shane Black, Stan Lee, Don Heck,...","[Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]","After saving New York from an alien invasion, ...",NaN,NaN
3,Thor: The Dark World,2013,112.0,"[adventure, action, fantasy, sci-fi]",2013-11-08,Alan Taylor,"[Christopher Yost, Christopher Markus, Stephen...","[Chris Hemsworth, Tom Hiddleston, Natalie Port...",There are nine realms of Asgard and once every...,NaN,NaN
4,Fast & Furious 6,2013,130.0,"[action, crime, thriller]",2013-05-24,Justin Lin,[Chris Morgan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...",Agent Hobbs cuts a deal with Dominic to clear ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,The Notebook,2004,124.0,"[drama, romance]",2004-06-25,Nick Cassavetes,"[Jeremy Leven, Jan Sardi, Nicholas Sparks]","[Gena Rowlands, James Garner, Rachel McAdams]",A poor yet passionate young man falls in love ...,NaN,NaN
338,Secret Window,2004,96.0,"[drama, thriller, mystery]",2004-03-12,David Koepp,"[Stephen King, David Koepp]","[Johnny Depp, John Turturro, Maria Bello, Timo...",Mort Rainey is a author struggling from writer...,NaN,NaN
339,Harry Potter and the Prisoner of Azkaban,2004,142.0,"[adventure, family, fantasy]",2004-06-04,Alfonso Cuarón,"[Steve Kloves, J.K. Rowling]","[Daniel Radcliffe, Emma Watson, Rupert Grint]","In Harry Potter and the Prisoner of Azkaban, H...",NaN,NaN
340,Spiderman 2,2004,127.0,"[action, adventure]",2004-05-30,Sam Raimi,[Alvin Sargent],"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Peter Parker ahs to fight a mad scientist name...,NaN,NaN
341,50 First Dates,2004,99.0,"[comedy, drama, romance]",2004-02-13,Peter Segal,[George Wing],"[Adam Sandler, Drew Barrymore, Rob Schneider, ...",Henry Roth is a man afraid of commitment up un...,NaN,NaN

In [9]:
df=dataframe

In [10]:
# Assuming 'df' is your DataFrame and you want to filter out rows where 'storyline' is null
null_storyline_df = df[pd.isna(df['storyline'])]

# Now null_storyline_df contains all rows from df where 'storyline' is null
# You can display this filtered DataFrame
# print(null_storyline_df)

In [11]:
null_storyline_df

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
10,Pacific Rim,2013,132.0,"[action, sci-fi]",2013-07-12,Guillermo del Toro,"[Travis Beacham, Guillermo del Toro]","[Charlie Hunnam, Idris Elba, Charlie Day, Ron ...",NaN,NaN,NaN
12,Star Trek Into Darkness,2013,132.0,"[action, adventure, sci-fi]",2013-05-16,J.J. Abrams,"[Roberto Orci, Alex Kurtzman, Damon Lindelof]","[Chris Pine, Zachary Quinto, Benedict Cumberba...",NaN,NaN,NaN
23,Interstellar,2014,169.0,"[adventure, drama, sci-fi]",2014-11-07,Christopher Nolan,"[Jonathan Nolan, Christopher Nolan]","[Matthew McConaughey, Anne Hathaway, Jessica C...",NaN,NaN,NaN
35,Star Wars: Episode 7 - The Force Awakens,2015,138.0,"[action, adventure, sci-fi]",2015-12-18,J.J. Abrams,"[Lawrence Kasdan, J.J. Abrams, Michael Arndt]","[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",NaN,NaN,NaN
52,Indiana Jones: Raiders of the Lost Ark,1981,115.0,"[action, adventure]",1981-06-12,Steven Spielberg,"[Lawrence Kasdan, George Lucas]","[Harrison Ford, Karen Allen, Paul Freeman]",NaN,NaN,NaN
55,Monty Python and the Holy Grail,1975,91.0,"[adventure, comedy, fantasy]",1975-05-25,"[Terry Gilliam, Terry Jones]","[Graham Chapman, John Cleese, Eric Idle, Terry...","[Graham Chapman, John Cleese, Eric Idle]",NaN,NaN,NaN
64,Star Wars: Episode V - The Empire Strikes Back,1980,124.0,"[action, adventure, sci-fi]",1980-06-20,George Lucas,George Lucas,"[Mark Hamill, Harrison Ford, Carrie Fisher, Al...",NaN,NaN,NaN
125,Sherlock Holmes,2009,128.0,"[action, adventure, crime, mystery, thriller]",2009-12-26,Guy Ritchie,"[Michael Robert Johnson, Anthony Peckham]","[Robert Downey Jr., Jude Law, Rachel McAdams]",NaN,NaN,NaN
136,Star Trek,2009,127.0,"[action, adventure, sci-fi]",2009-05-08,J.J. Abrams,"[Roberto Orci, Alex Kurtzman]","[Chris Pine, Zachary Quinto, Simon Pegg]",NaN,NaN,NaN
153,Star Wars: Episode 8 - The Last Jedi,2017,150.0,"[action, adventure, sci-fi]",2017-12-15,Rian Johnson,Rian Johnson,"[Mark Hamill, Carrie Fisher, Adam Driver, Dais...",NaN,NaN,NaN
232,Sherlock Holmes: A Game of Shadows,2011,129.0,"[action, adventure, crime, mystery, thriller]",2011-12-16,Guy Ritchie,"[Michele Mulroney, Kieran Mulroney]","[Robert Downey Jr., Jude Law, Jared Harris]",NaN,NaN,NaN
238,Doctor Strange,2016,115.0,"[action, adventure, fantasy, superhero]",2016-11-03,Scott Derrickson,"[Jon Spaihts, Scott Derrickson, C. Robert Carg...","[Benedict Cumberbatch, Chiwetel Ejiofor, Rache...",NaN,NaN,NaN
248,The Accountant,2016,128.0,"[action, crime, drama]",2016-03-25,Gavin O'Connor,Bill Dubuque,"[Ben Affleck, Anna Kendrick, J.K. Simmons]",NaN,NaN,NaN
258,Star Trek Beyond,2016,122.0,"[action, adventure, sci-fi]",2013-07-22,Justin Lin,"[Simon Pegg, Doug Jung]","[Chris Pine, Zachary Quinto, Zoe Saldana, Karl...",NaN,NaN,NaN
270,Star Wars: Episode IV - A New Hope,1977,121.0,"[action, adventure, sci-fi]",1977-05-25,George Lucas,George Lucas,"[Mark Hamill, Harrison Ford, Carrie Fisher, Al...",NaN,NaN,NaN
274,The Meaning of Life,1983,107.0,"[comedy, musical]",1983-07-07,"[Terry Gilliam, Terry Jones]","[Graham Chapman, John Cleese, Eric Idle, Terry...","[Graham Chapman, John Cleese, Eric Idle]",NaN,NaN,NaN
275,Star Wars: Episode VI - Return of the Jedi,1983,131.0,"[action, adventure, sci-fi]",1983-05-25,Richard Marquand,"[Lawrence Kasdan, George Lucas]","[Mark Hamill, Harrison Ford, Carrie Fisher]",NaN,NaN,NaN
277,Indiana Jones and the Temple of Doom,1984,118.0,"[action, adventure]",1984-05-23,Steven Spielberg,"[Willard Huyck, Gloria Katz]","[Harrison Ford, Kate Capshaw, Jonathan Ke Quan]",NaN,NaN,NaN
293,Star Wars: Episode I - The Phantom Menace,1999,136.0,"[action, adventure, sci-fi]",1999-05-19,George Lucas,George Lucas,"[Liam Neeson, Ewan McGregor, Natalie Portman]",NaN,NaN,NaN
313,V for Vendetta,2005,132.0,"[action, drama, thriller]",2005-06317,James McTeigue,"[Lilly Wachowski, Lana Wachowski]","[Hugo Weaving, Natalie Portman, Rupert Graves]",NaN,NaN,NaN
317,Star Wars: Episode III - Revenge of the Sith,2005,140.0,"[action, adventure, sci-fi]",2005-05-19,George Lucas,George Lucas,"[Ewan McGregor, Natalie Portman, Hayden Christ...",NaN,NaN,NaN
318,Reign of Fire,2002,101.0,"[action, adventure, fantasy]",2002-07-12,Rob Bowman,"[Gregg Chabot, Kevin Peterka, Matt Greenberg]","[Matthew McConaughey, Christian Bale, Izabella...",NaN,NaN,NaN
319,The Bourne Identity,2002,118.0,"[action, spy, thriller]",2002-14-02,Doug Liman,"[Robert Ludlum, Tony Gilroy, William Blake Her...","[Matt Damon, Franka Potente, Chris Cooper]",NaN,NaN,NaN
322,Star Wars: Episode II - Attack of the Clones,2002,142.0,"[action, adventure, sci-fi]",2002-05-16,George Lucas,"[George Lucas, Jonathan Hales]","[Ewan McGregor, Natalie Portman, Hayden Christ...",NaN,NaN,NaN

In [12]:
# Usage example with your specified path
path = '/Users/pratikkpoojari/Desktop/JSON/movies/*/*.json'
dataframe = read_jsons_to_dataframe(path)
dataframe  # Display the first few rows of the resulting DataFrame

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
0,Rush,2013,123.0,"[drama, sport]",2013-09-27,Ron Howard,[Peter Morgan],"[Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...","James Hunt and Niki Lauda, two extremely skill...",NaN,NaN
1,Percy Jackson: Sea of Monsters,2013,106.0,"[adventure, family, fantasy]",2013-08-07,Thor Freudenthal,"[Marc Guggenheim, Rick Riordan]","[Logan Lerman, Alexandra Daddario, Brandon T. ...","In this retelling of Rick Riordans book, The S...",NaN,NaN
2,Iron Man 3,2013,130.0,"[adventure, action, sci-fi]",2013-05-03,Shane Black,"[Drew Pearce, Shane Black, Stan Lee, Don Heck,...","[Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]","After saving New York from an alien invasion, ...",NaN,NaN
3,Thor: The Dark World,2013,112.0,"[adventure, action, fantasy, sci-fi]",2013-11-08,Alan Taylor,"[Christopher Yost, Christopher Markus, Stephen...","[Chris Hemsworth, Tom Hiddleston, Natalie Port...",There are nine realms of Asgard and once every...,NaN,NaN
4,Fast & Furious 6,2013,130.0,"[action, crime, thriller]",2013-05-24,Justin Lin,[Chris Morgan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...",Agent Hobbs cuts a deal with Dominic to clear ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,The Notebook,2004,124.0,"[drama, romance]",2004-06-25,Nick Cassavetes,"[Jeremy Leven, Jan Sardi, Nicholas Sparks]","[Gena Rowlands, James Garner, Rachel McAdams]",A poor yet passionate young man falls in love ...,NaN,NaN
338,Secret Window,2004,96.0,"[drama, thriller, mystery]",2004-03-12,David Koepp,"[Stephen King, David Koepp]","[Johnny Depp, John Turturro, Maria Bello, Timo...",Mort Rainey is a author struggling from writer...,NaN,NaN
339,Harry Potter and the Prisoner of Azkaban,2004,142.0,"[adventure, family, fantasy]",2004-06-04,Alfonso Cuarón,"[Steve Kloves, J.K. Rowling]","[Daniel Radcliffe, Emma Watson, Rupert Grint]","In Harry Potter and the Prisoner of Azkaban, H...",NaN,NaN
340,Spiderman 2,2004,127.0,"[action, adventure]",2004-05-30,Sam Raimi,[Alvin Sargent],"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Peter Parker ahs to fight a mad scientist name...,NaN,NaN
341,50 First Dates,2004,99.0,"[comedy, drama, romance]",2004-02-13,Peter Segal,[George Wing],"[Adam Sandler, Drew Barrymore, Rob Schneider, ...",Henry Roth is a man afraid of commitment up un...,NaN,NaN

In [13]:
not_null_description_df = df[pd.notna(df['description'])]

In [14]:
not_null_description_df

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
85,Home Alone 2: Lost in New York,1992,120.0,"[comedy, family, adventure]",1992-11-20,Chris Columbus,[John Hughes],"[Macaulay Culkin, Joe Pesci, Daniel Stern, Joh...",Kevin McCallister is back. But this time he's ...,One year after Kevin was left home alone and h...,NaN
286,Home Alone,1990,102.0,"[comedy, family]",1990-11-16,Chris Columbus,[John Hughes],"[Macaulay Culkin, Joe Pesci, Daniel Stern, Joh...",It is Christmas time and the McCallister famil...,An eight-year-old troublemaker must protect hi...,NaN
299,My Girl,1991,102.0,"[comedy, drama, romance]",1991-11-27,Howard Zieff,[Laurice Elehwany],"[Dan Aykroyd, Jamie Lee Curtis, Macaulay Culki...",1972. Vada Sultenfuss (played by Anna Chlumsky...,"A young girl, on the threshold of her teen yea...",NaN

In [15]:
not_null_plot_df = df[pd.notna(df['plot'])]

KeyError: 'plot'

In [ ]:
not_null_plot_df

In [ ]:
# Usage example with your specified path
path = '/Users/pratikkpoojari/Desktop/JSON/movies/*/*.json'
dataframe = read_jsons_to_dataframe(path)
dataframe  # Display the first few rows of the resulting DataFrame

In [ ]:
not_null_released_df = df[pd.notna(df['released'])]

In [ ]:
not_null_released_df

In [ ]:
# Usage example with your specified path
path = '/Users/pratikkpoojari/Desktop/JSON/movies/*/*.json'
dataframe = read_jsons_to_dataframe(path)
dataframe  # Display the first few rows of the resulting DataFrame

In [16]:
not_null_genre_df = df[pd.notna(df['genre'])]

KeyError: 'genre'

In [17]:
not_null_genre_df

NameError: name 'not_null_genre_df' is not defined

In [18]:
# Usage example with your specified path
path = '/Users/pratikkpoojari/Desktop/JSON/movies/*/*.json'
dataframe = read_jsons_to_dataframe(path)
dataframe  # Display the first few rows of the resulting DataFrame

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
0,Rush,2013,123.0,"[drama, sport]",2013-09-27,Ron Howard,[Peter Morgan],"[Chris Hemsworth, Daniel Brühl, Olivia Wilde, ...","James Hunt and Niki Lauda, two extremely skill...",NaN,NaN
1,Percy Jackson: Sea of Monsters,2013,106.0,"[adventure, family, fantasy]",2013-08-07,Thor Freudenthal,"[Marc Guggenheim, Rick Riordan]","[Logan Lerman, Alexandra Daddario, Brandon T. ...","In this retelling of Rick Riordans book, The S...",NaN,NaN
2,Iron Man 3,2013,130.0,"[adventure, action, sci-fi]",2013-05-03,Shane Black,"[Drew Pearce, Shane Black, Stan Lee, Don Heck,...","[Robert Downey Jr, Gwyneth Paltrow, Guy Pearce]","After saving New York from an alien invasion, ...",NaN,NaN
3,Thor: The Dark World,2013,112.0,"[adventure, action, fantasy, sci-fi]",2013-11-08,Alan Taylor,"[Christopher Yost, Christopher Markus, Stephen...","[Chris Hemsworth, Tom Hiddleston, Natalie Port...",There are nine realms of Asgard and once every...,NaN,NaN
4,Fast & Furious 6,2013,130.0,"[action, crime, thriller]",2013-05-24,Justin Lin,[Chris Morgan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...",Agent Hobbs cuts a deal with Dominic to clear ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,The Notebook,2004,124.0,"[drama, romance]",2004-06-25,Nick Cassavetes,"[Jeremy Leven, Jan Sardi, Nicholas Sparks]","[Gena Rowlands, James Garner, Rachel McAdams]",A poor yet passionate young man falls in love ...,NaN,NaN
338,Secret Window,2004,96.0,"[drama, thriller, mystery]",2004-03-12,David Koepp,"[Stephen King, David Koepp]","[Johnny Depp, John Turturro, Maria Bello, Timo...",Mort Rainey is a author struggling from writer...,NaN,NaN
339,Harry Potter and the Prisoner of Azkaban,2004,142.0,"[adventure, family, fantasy]",2004-06-04,Alfonso Cuarón,"[Steve Kloves, J.K. Rowling]","[Daniel Radcliffe, Emma Watson, Rupert Grint]","In Harry Potter and the Prisoner of Azkaban, H...",NaN,NaN
340,Spiderman 2,2004,127.0,"[action, adventure]",2004-05-30,Sam Raimi,[Alvin Sargent],"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Peter Parker ahs to fight a mad scientist name...,NaN,NaN
341,50 First Dates,2004,99.0,"[comedy, drama, romance]",2004-02-13,Peter Segal,[George Wing],"[Adam Sandler, Drew Barrymore, Rob Schneider, ...",Henry Roth is a man afraid of commitment up un...,NaN,NaN

In [21]:
dataframe[dataframe.col("release-date")=='1974-13-6']

AttributeError: 'DataFrame' object has no attribute 'col'

In [24]:
filtered_rows = dataframe[dataframe['release-date'] == '1974-13-6']

In [25]:
filtered_rows

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
62,La Patagonia rebelde,1974,103.0,"[historical, drama, action]",1974-13-6,Hector Olivera,"[Fernando Ayala, Hector Olivera, Osvaldo Bayer]","[Hector Alterio, Luis Brandoni, Federico Luppi...",La Patagonia rebelde is an Argentinean film ba...,NaN,NaN

In [26]:
filtered_rows = dataframe[dataframe['release-date'] == '1974-13-6']

In [27]:
filtered_rows1 = dataframe[dataframe['release-date'] == '2007-06-1']

In [28]:
filtered_rows1

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
113,American Drug War: The Last White Hope,2007,120.0,"[documentary, crime]",2007-06-1,Kevin Booth,[Kevin Booth],"[Joe Arpaio, Jello Biafra, Osama bin Laden, Je...",The War on Drugs has become the longest and mo...,NaN,NaN

In [29]:
filtered_rows2 = dataframe[dataframe['release-date'] == '2018-01-5']

In [30]:
filtered_rows2

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
208,Arif v 216,2018,125.0,"[comedy, sci-fi]",2018-01-5,Kivanc Baruonu,[Cem Yilmaz],"[Cem Yilmaz, Ozan Guven, Ozkan Ugur]","After 8 years, Arif's old friend 216 from plan...",NaN,NaN

In [32]:
filtered_rows3 = dataframe[dataframe['release-date'] == '2018-11-9']

In [34]:
filtered_rows3

,name,year,runtime,categories,release-date,director,writer,actors,storyline,description,future
191,El Ángel,2018,126.0,"[drama, crime]",2018-11-9,Luis Ortega,"[Luis Ortega, Rodolfo Palacios]","[Chino Darín, Mercedes Morán, Melena Villa, Ju...",The pretty face of Carlos (a 17-year-old teena...,NaN,true